*{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

section{
	filter: brightness(0.8);
	background-image: url(https://s3.amazonaws.com/arc-wordpress-client-uploads/infobae-wp/wp-content/uploads/2016/11/30164101/Religion-1920-2.jpg);
	width: 100vw;
	min-height: 100vh;
	position: relative;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

section:before{
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
	position: absolute;
	background: linear-gradient(90deg,#F2DD0A,#1703EB);
	opacity: 0.8;
	z-index: -1;
}

section h1{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 15px;
	font-size: 2.5em;
	color: white;
	text-align: center;
	background: rgba(245, 245, 245, 0.2);
	border-radius: 16px;
	margin: 15px;
}

div{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	justify-content: space-evenly;
}

div > a{
	text-decoration: none;
	background: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	color: white;
	padding: 15px;
	margin: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	transition: 1s;
}

div > a:hover{
	background: rgba(0, 0, 0, 0.5);
	
}
